html{
  background-color: rgb(220,220,220);
}
.App {
  text-align: center;
  margin: 20px;
  border: 5px solid grey;
  border-radius: 10px;
  
}
img{
  height:10%;
  width: 10%;
}
.vids img{
  /* Centered? */
  width: 200px;
  height: 135px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 10px;
}

#searchDiv {
  margin: 15px;
}
.vids {
  margin-left: 100px;
  margin-right: 100px;
  display: inline-block;
}
.bar {
  height: 30px;
  width: 300px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid grey;
}
#rating {
  border-radius: 10px;
  height: 25px;
  background-color: white;
  border: 2px solid grey;
}
.rating-label{
  padding-left: 10px;
  padding-right: 5px;
}
.gifs-label{
  padding-left: 10px;
  padding-right: 5px;
}
#inputAns{
  border-radius: 10px;
  height: 20px;
  background-color: white;
  border: 2px solid grey;
}
